@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Black text color */
  --background-start-rgb: 255, 255, 255; /* White background start */
  --background-end-rgb: 255, 255, 255; /* White background end */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0; /* White text color in dark mode */
    --background-start-rgb: 255, 255, 255; /* Black background start in dark mode */
    --background-end-rgb: 255, 255, 255; /* Black background end in dark mode */
  }
}

body {
  color: rgb(var(--foreground-rgb)); /* Default text color */
  /* Default background color */
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
